$code-background-color: #2e3f3f;
$code-font-color: #ffe7a6;

body {
  font-size: 100px;
}

.language-text {
  background-color: #fff2cd !important;
  color: #4c483d !important;
  font-size: 0.8em !important;
  font-family: Droid Sans Mono, monospace !important;
}

.language-bash,
.language-javascript {
  font-family: Droid Sans Mono, monospace !important;
  font-size: 0.9em !important;
}

.MuiTypography-body1 {
  color: #414141 !important;
  font-family: helveticaneue-light, helvetica neue light, helvetica neue,
    Helvetica, Arial, lucida grande, sans-serif !important;
  letter-spacing: 0.5px !important;
  line-height: 1.6 !important;
  font-weight: 300;
  font-size: 1.2rem !important;
  img {
    width: 100% !important;
  }
}

.gatsby-highlight {
  font-family: monospace, monospace !important;
  background-color: $code-background-color;
  border-radius: 0.3em;
  margin: 0.8em 0;
  padding: 1em;
  overflow: auto;
  -webkit-box-shadow: -2px 4px 4px -1px #757575;
  box-shadow: -2px 4px 4px -1px #757575;
}

.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  min-width: 100%;
  max-width: 100px;
}

code {
  color: $code-font-color !important;
  background-color: $code-background-color !important;
  font-family: monospace, monospace !important;
  padding: 0.2em 0.5em !important;
}

.anchor.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}

.main-body a.anchor {
  color: inherit;
  fill: #b17acc;
  text-decoration: none;
  border-bottom: none;
}
